<mat-card>
  <div>
    <form>
      <mat-form-field>
        <input matInput placeholder="Name" [value]="product.name" (change)="valueChange()" (input)="product.name=$event.target.value">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Description" [value]="product.description" (change)="valueChange()" (input)="product.description=$event.target.value">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Date" [value]="product.date" (change)="valueChange()" (input)="product.date=$event.target.value">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Company" [value]="product.company" (change)="valueChange()" (input)="product.company=$event.target.value">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Provider" [value]="product.provider" (change)="valueChange()" (input)="product.provider=$event.target.value">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Serial" [value]="product.serial" (change)="valueChange()" (input)="product.serial=$event.target.value">
      </mat-form-field>
    </form>
  </div>

  <div>
    <button routerLink="/list">
      <i class="material-icons">
        add_circle
      </i>
    </button>
    <button (click)="saveProduct()">
      <i class="material-icons">
        edit
      </i>
    </button>
    <button (click)="saveProduct()">
      <i class="material-icons">
        clear
      </i>
    </button>
    <button (click)="saveProduct()">
      <i class="material-icons">
        filter_list
      </i>
    </button>
    <button (click)="saveProduct()">
      <i class="material-icons">
        search
      </i>
    </button>
  </div>
</mat-card>
