<mat-card>
  <form>
    <mat-form-field>
      <input matInput  placeholder="Name" [value]="provider.name" (change)="valueChange()" (input)="provider.name=$event.target.value">
    </mat-form-field>
    <mat-form-field>
      <input matInput  placeholder="Last Name"  [value]="provider.lastName" (change)="valueChange()" (input)="provider.lastName=$event.target.value">
    </mat-form-field>
    <mat-form-field>
      <input matInput  placeholder="Document"  [value]="provider.document" (change)="valueChange()" (input)="provider.document=$event.target.value">
    </mat-form-field>
    <mat-form-field>
      <input matInput  placeholder="Email"  [value]="provider.email" (change)="valueChange()" (input)="provider.email=$event.target.value">
    </mat-form-field>
    <mat-form-field>
      <input matInput  placeholder="Cellphone" [value]="provider.cellphone" (change)="valueChange()" (input)="provider.cellphone=$event.target.value">
    </mat-form-field>
    <mat-form-field>
      <input matInput  placeholder="Address" [value]="provider.address" (change)="valueChange()" (input)="provider.address=$event.target.value">
    </mat-form-field>
    <mat-form-field>
      <input matInput  placeholder="Products type" [value]="provider.productsType" (change)="valueChange()" (input)="provider.productsType=$event.target.value">
    </mat-form-field>
    <mat-form-field>
      <input matInput  placeholder="Company Name" [value]="provider.companyName" (change)="valueChange()" (input)="provider.companyName=$event.target.value">
    </mat-form-field>
    <mat-form-field>
      <input matInput  placeholder="Company Id" [value]="provider.companyId" (change)="valueChange()" (input)="provider.companyId=$event.target.value">
    </mat-form-field>
  </form>


  <button> Search provider </button>
  <button (click)="saveProvider()">
    <i class="material-icons">
      done
    </i>
  </button>
  <button> Delete</button>
  <button> See all providers </button>
</mat-card>
