<kendo-tabstrip>
  <kendo-tabstrip-tab [title]="'Provider'" >
    <ng-template kendoTabContent>
      <app-providers [(providers)]="appObject.providers" ></app-providers>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab [title]="'Product'">
    <ng-template kendoTabContent>
      <app-products [(products)]="appObject.products"></app-products>
    </ng-template>
  </kendo-tabstrip-tab>
</kendo-tabstrip>
